examples_rawjson/syscall_analysis_20251009_050718.json

# generated BPF build artifacts
vmlinux.h
*.bpf.o
*.skel.h
libbpf/

# compiled binaries
/syscall_monitor
/mmap_readamp
/iouring_monitor
/nvme_uring_cmd_monitor
/examples/io_uring/io_uring_demo
/examples/io_uring/nvme_uring_cmd_rw
